@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

.App {
  display: grid;
  grid-template-rows: 15% 85%;
  overflow: hidden;
  width: 360px;
  height: 800px;
  border: 1px solid black;
  border-radius: 1.5rem;
  background-color: #f2e9e4;
  color: #22223b;
}

.loading {
  background-color: #c9ada7;
  padding: 1rem;
  border-radius: 1.5rem;
  height: 3rem;
}

nav {
  display: grid;
  grid-template-rows: 55% 45%;
  grid-template-areas:
    "header user"
    "links  user";
  /* margin-bottom: 1rem; */
  background-color: #22223b;
  color: #f2e9e4;

  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    font-size: 2rem;
  }

  .links-container {
    grid-area: links;
    display: flex;
    padding: 0.75rem;
    list-style-type: none;
  }

  .link {
    color: #f2e9e4;
    margin-right: 1rem;
  }

  .link:hover {
    text-decoration: underline;
  }

  .user {
    grid-area: user;
    text-align: right;
    padding: 0.75rem;
    font-size: 2rem;
  }
}

.main-page {
  display: grid;
  grid-template-rows: 0.05fr 0.05fr 0.875fr;
  grid-template-areas:
    "filter-bar"
    "articles-header"
    "articles-list";
  padding: 0 0.5rem;

  .filter-bar {
    grid-area: filter-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select-topic,
    .select-sortby {
      width: 48%;
    }
  }


  .articles-header {
    grid-area: articles-header;
    display: flex;
    align-items: center;
  }

  .articles-list {
    grid-area: articles-list;
    overflow: auto;
    scrollbar-width: none;
  }

  .articles-list::-webkit-scrollbar {
    display: none;
  }
}

.article-card {
  /* background-color: #c9ada7; */
  color: #22223b;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  padding-top: 0.5rem;
}

a {
  text-decoration: none;
}

.author {
  font-weight: bold;
}

.article-card img {
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 0.6rem;
}

.article-card .article-body {
  text-align: justify;
  margin-bottom: 0.75rem;
}

.article-card .stats {
  display: flex;
  justify-content: space-between;
}

.votes,
.article-card .comment-count {
  font-weight: bold;
}

.article-page {
  display: grid;
  grid-template-rows: 0.6fr 0.4fr;
  grid-template-areas:
    "articles-list"
    "comments-list";
  padding: 0 0.5rem;
  overflow: auto;
}

.article-page::-webkit-scrollbar {
  display: none;
}

.comment-card {
  padding: 0.5rem;
  background-color: #faf7f5;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}