@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

:root {
  --background: #fcfaf8; /* #f2e9e4 */
  --highlight: #415a77; /* #faf7f5 */
  --foreground: #141e28; /* #22223b */
  --error: #c52943;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  padding: 1rem;
  background-color: var(--background);
  color: var(--foreground);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: var(--foreground);
  padding-bottom: 1rem;
}

nav .title {
  font-size: 1.5rem;
}

nav .title .company-name {
  font-weight: bold;
}

nav .icon {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

.topic-menu {
  display: flex;
  /* flex-wrap: nowrap; */
  min-height: 3rem;
  gap: 0.5rem;
  padding-bottom: 1rem;
  overflow: auto;
}

.topic-menu::-webkit-scrollbar {
  display: none;
}

.topic-button {
  display: flex;
  align-items: center;
  height: 2rem;
  color: var(--foreground);
  background-color: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 1rem;
  padding: 0.5rem;
  white-space: nowrap;
}

.topic-selected {
  color: var(--background);
  background-color: var(--foreground);
}

.topic-selector,
.sort-selector {
  width: 49%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic-selector-select,
.sort-selector-select {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--highlight);
  color: var(--foreground);
  height: 2.5rem;
  font-size: 1rem;
}

.topic-selector-select {
  width: 100%;
  cursor: pointer;
}

.sort-selector-select {
  width: 70%;
  cursor: pointer;
}

.sort-order-button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--highlight);
  width: 13%;
  height: 2.5rem;
  cursor: pointer;
}

.selected {
  background-color: var(--foreground);
  color: var(--highlight);
}

.articles-header {
  grid-area: articles-header;
  display: flex;
  align-items: center;
}

.articles-list {
  grid-area: articles-list;
  overflow: auto;
  scrollbar-width: none;
}

.articles-list::-webkit-scrollbar {
  display: none;
}

.article-card {
  color: var(--foreground);
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  padding-top: 0.5rem;
}

.author {
  font-weight: bold;
}

.article-card img {
  margin: 0.5rem 0;
  max-width: 100%;
  border-radius: 0.6rem;
}

.article-card .article-body {
  text-align: justify;
  margin-bottom: 0.75rem;
}

.article-card .stats {
  display: flex;
  justify-content: space-between;
}

.votes,
.comment-count {
  font-weight: bold;
}

.article-page {
  padding: 0 0.5rem;
  overflow: auto;
}

.article-page::-webkit-scrollbar {
  display: none;
}

.vote-button {
  border: none;
  background-color: var(--background);
  padding-right: 0.25rem;
  color: var(--foreground);
}

.vote-button-down:active {
  color: red;
}

.vote-button-up:active {
  color: green;
}

.comment-card {
  padding: 0.5rem;
  background-color: var(--highlight);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment-card-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* height: 1.5rem; */
  padding-top: 0.5rem;
}

.comment-card-votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-card-votes .votes {
  padding-left: 0.25rem;
}

.comment-card-delete-button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1rem;
  padding: 0.5rem;
}

.comment-form textarea {
  background-color: var(--highlight);
  color: var(--foreground);
  border: none;
  width: 100%;
}

.comment-form textarea::placeholder {
  color: var(--foreground);
}

.loading-card,
.error-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--highlight);
  padding: 1rem;
  border-radius: 1.5rem;
  height: 10rem;
  font-size: 1.5rem;
}

.error-card Button {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0.75rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 1.5rem;
}

.comment-error {
  color: var(--error);
}

.vote-error,
.comment-delete-error {
  text-align: right;
  color: var(--error);
}
