@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

:root {
  --background: #ececec; /* #f2e9e4 */
  --highlight: #ffffff; /* #faf7f5 */
  --foreground: #141e28; /* #22223b */
  --error: #c52943;
  --regular-gap: 0.75rem;
  --regular-radius: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  padding: var(--regular-gap);
  background-color: var(--background);
  color: var(--foreground);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  line-height: 0;
  color: var(--foreground);
  padding-top: var(--regular-gap);
  padding-bottom: var(--regular-gap);
}

nav .title {
  font-size: 1.5rem;
}

nav .title .company-name {
  font-weight: bold;
}

nav .icon {
  vertical-align: middle;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s ease;
}

.settings-menu {
  position: absolute;
  top: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--regular-radius);
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.4s, opacity 0.4s ease;
  z-index: 1;
}

.settings-menu .menu-heading {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-left: var(--regular-gap);
  padding-right: var(--regular-gap);
  border-bottom: 1px solid var(--foreground);
  font-size: 1rem;
  font-weight: bold;
}

.settings-menu .menu-option {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-left: var(--regular-gap);
  padding-right: var(--regular-gap);
  border-bottom: 1px solid var(--foreground);
  background-color: var(--highlight);
  font-size: 1rem;
}

.settings-menu input[type="radio"] {
  appearance: none;
}

.settings-menu .selected {
  color: var(--highlight);
  background-color: var(--foreground);
}

.topic-menu {
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  gap: var(--regular-gap);
  padding-top: var(--regular-gap);
  padding-bottom: var(--regular-gap);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.topic-menu::-webkit-scrollbar {
  display: none;
}

.topic-button {
  display: flex;
  align-items: center;
  height: 2rem;
  color: var(--foreground);
  background-color: var(--highlight);
  border: 1px solid var(--foreground);
  border-radius: 1rem;
  padding: 0.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.4s;
}

.topic-button:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.topic-selected {
  color: var(--highlight);
  background-color: var(--foreground);
}

/* Article List */
.articles-list {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.articles-list::-webkit-scrollbar {
  display: none;
}

/* Article Card */
.article-card {
  color: var(--foreground);
  background-color: var(--highlight);
  border-radius: var(--regular-radius);
  margin-bottom: var(--regular-gap);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.article-card:hover {
  border: 1px solid;
}

.article-card .header,
.title,
.footer {
  padding-left: var(--regular-gap);
  padding-right: var(--regular-gap);
}

.article-card .header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.article-card .header .topic {
  text-transform: uppercase;
}

.article-card img {
  max-width: 100%;
}

.article-card .title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 120%;
  padding-top: 0.75rem;
}

.article-card .footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
}

/* Full Article */
.full-article-container {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.full-article-container::-webkit-scrollbar {
  display: none;
}

.full-article:hover {
  border: none;
}

.full-article img {
  border-top-left-radius: var(--regular-radius);
  border-top-right-radius: var(--regular-radius);
}

.full-article .written-by,
.body {
  padding-left: var(--regular-gap);
  padding-right: var(--regular-gap);
  font-size: 0.8rem;
}

.full-article .written-by {
  display: flex;
  align-items: center;
  gap: var(--regular-gap);
}

.full-article .written-by {
  padding-top: var(--regular-gap);
  padding-bottom: var(--regular-gap);
}

.full-article .author-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--foreground);
}

.full-article .author {
  font-weight: bold;
}

.vote-button {
  border: none;
  background-color: var(--highlight);
  padding-right: 0.25rem;
  color: var(--foreground);
}

.vote-button-down:active {
  color: red;
}

.vote-button-up:active {
  color: green;
}

.comment-card {
  border-radius: var(--regular-radius);
  margin-bottom: var(--regular-gap);
  padding: var(--regular-gap);
  background-color: var(--highlight);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 0.8rem;
}

.comment-card-written-by {
  padding-bottom: 0.5rem;
}

.comment-card-author {
  font-weight: bold;
}

.comment-card-body {
  padding-bottom: 0.5rem;
}

.comment-card-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.comment-card-votes {
  display: flex;
  align-items: center;
}

.comment-card-votes .votes {
  padding-left: 0.25rem;
}

.comment-form textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  vertical-align: bottom;
  outline: none;
  resize: none;
  border-radius: var(--regular-radius);
  background-color: var(--highlight);
  border: 1px solid var(--background);
  color: var(--foreground);
}

.comment-form textarea:focus {
  border-color: var(--foreground);
}

.comment-form textarea::placeholder {
  color: var(--foreground);
}

.comment-form .button-container {
  display: flex;
  gap: var(--regular-gap);
}

.comment-form button,
.comment-card button {
  height: 2rem;
  color: var(--foreground);
  background-color: var(--highlight);
  border: 1px solid var(--foreground);
  border-radius: 1rem;
  padding: 0 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.comment-form .button-container .disabled {
  opacity: 0.5;
}

.loading-card,
.error-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--highlight);
  padding: 1rem;
  border-radius: var(--regular-radius);
  height: 10rem;
  font-size: 1.5rem;
}

.error-card Button {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0.75rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
}

.comment-error {
  color: var(--error);
}

.vote-error,
.comment-delete-error {
  text-align: right;
  color: var(--error);
}

@media screen and (min-width: 550px) {
  :root {
    --regular-gap: 1rem;
    --regular-radius: 0.75rem;
  }

  nav .title {
    transition: transform 0.4s;
  }

  nav .title:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
  }

  nav .icon {
    transition: transform 0.4s;
  }

  nav .icon:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
  }

  .topic-menu {
    margin: 0 auto;
    padding: var(--regular-gap);
  }

  .articles-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--regular-gap);
  }

  .article-card {
    max-width: 376px;
  }

  .full-article,
  .comment-card {
    max-width: 700px;
    margin: 0 auto var(--regular-gap) auto;
  }
}
